.categoryCard {
  margin-bottom: .4rem;
  cursor: pointer;
  background-color: rgb(240, 237, 234);
  background-color: rgb(233, 235, 217);
  display: flex;
  height: 130px;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: .5rem;
  text-align: center;
}

.categoryCard img {
  max-width: 100%;
}

.categoryCard p {
  font-weight: 400;
}