.channelCard {
  cursor: pointer;
  margin-bottom: .4rem;
}

.channelCard img {
  position: relative;
  max-width: 100%;
}

.channelCard img:hover {
  top: -1px;
}

.channelCard img:active {
  outline: none;
  transform: scale(1.005);
}

.channelCard p {
  margin-top: -.3rem;
}