.episodeCardWrapper {
  display: flex;
  background-color: rgb(241, 241, 241);
  margin-bottom: .7rem;
  padding: .5rem 1.2rem .5rem .5rem;
}

.imgWrapper {
 margin-right: 1.2rem;
 height: 100px;
 width: 100px;
 padding-top: .2rem;
 padding-left: .2rem;
}

.imgWrapper img {
 height: 100px;
 width: 100px;
 object-fit: cover;
}

.time {
  font-weight: 300;
}

.desc {
  font-size: .9rem;
  margin-top: .5rem;
}