.episodeCardWrapper {
  position: relative;
  display: flex;
  background-color: rgb(241, 241, 241);
  margin-bottom: .7rem;
  padding: .5rem 1.2rem .5rem .5rem;
}

.episodeCardWrapper a {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2rem;
  color: rgb(74, 125, 156);
}

.imgWrapper {
 margin-right: 1.2rem;
 height: 100px;
 width: 100px;
 padding-top: .2rem;
 padding-left: .2rem;
}

.imgWrapper img {
 height: 100px;
 width: 100px;
 object-fit: cover;
}

.episodeInfo {
  flex: 1;
  padding-right: 5rem;
}

.time {
  font-weight: 300;
}

.desc {
  font-size: .9rem;
  margin-top: .5rem;
}

.titleRow {
  position: relative;
  display: flex;
  justify-content: space-between;
}