.footerWrapper {
  width: 100%;
  height: 200px;
  background-color: rgb(82, 138, 173);
}

.footerContent {
  margin: 0 auto;
  padding: 1.2rem;
  max-width: 1050px;
  color: white;
  text-align: center;
}

.footerTitle {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 1.3rem;
}

.footerContent p {
  font-weight: 300;
  font-style: italic;
  margin-bottom: .8rem;
}

.footerContent span {
  font-size: .9rem;
}