.heroWrapper {
  width: 100%;
  margin-bottom: .7rem;
}

.programCard {
  width: 33%;
  cursor: pointer;
}

.programCard:hover {
  transform: scale(1.005);
}

.programCard img {
  width: 100%;
}

.cardsWrapper {
  display: flex;
  gap: .5rem;
}