.loginRegisterWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.infoColumn, .infoColumnBelow {
  width: 100%;
  background-color: rgb(246, 246, 248);
  padding: 1.2rem 1.2rem .3rem 1.2rem;
}

.shortText {
  margin-bottom: .7rem;
  font-weight: 400;
  font-size: .87rem;
  font-style: italic;
}

.infoColumn p, .infoColumnBelow p {
  font-size: .76rem;
  margin-top: .7rem;
}

.infoColumn ul, .infoColumnBelow ul {
  margin-top: .5rem;
  margin-right: 1.5rem;
}

.infoColumn li, .infoColumnBelow li {
  margin: .1rem 0;
  font-size: .75rem;
  margin-left: 1rem;
}

.sectionTitle {
  font-size: .8rem;
}

.formColumn {
  width: 100%;
  margin-bottom: 1.5rem;
}

.hideMedium {
  display: none;
}

.hideSmall {
  display: none;
}

.welcomeHr {
  display: none;
}

.infoTextBottom {
  cursor: pointer;
  text-align: center;
  font-size: .75rem;
  color: rgb(21, 78, 133);
}

@media screen and (min-width: 400px) {
  .infoTextBottom {
    font-size: .85rem;
  }
}

@media screen and (min-width: 630px) {
  .loginRegisterWrapper {
    flex-direction: row;
  }

  .shortText {
    font-size: .85rem;
  }

  .welcomeHr {
    display: block;
  }

  .formColumn {
    min-height: 700px;
    margin-bottom: 0;
  }

  .infoColumn {
    margin-right: 1.5rem;
    padding: 1.2rem;
    padding-bottom: 2rem;
    width: 40%;
  }

  .infoColumnBelow {
    display: none;
  }

  .sectionTitle {
    font-size: .95rem;
  }

  .hideSmall {
    display: initial;
  }

  .formColumn {
    width: 60%;
  }
}

@media screen and (min-width: 750px) {
  .loginRegisterWrapper {
    gap: 1rem;
  }

  .infoColumn li {
    margin: .1rem 0;
    font-size: .9rem;
    margin-left: 1.5rem;
  }

  .infoColumn p {
    margin-bottom: .5rem;
  }

  .shortText {
    font-size: 1rem;
  }

  .hideMedium {
    display: initial;
  }

  .sectionTitle {
    margin-top: 1rem;
  }

  .formColumn {
    width: 50%;
    min-height: 700px;
  }
  
  .infoColumn {
    width: 50%;
  }

  .infoColumn p {
    font-size: .93rem;
    margin-top: .7rem;
  }
}