.programCard {
  display: flex;
  padding: .5rem;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.programCard:hover {
  background-color: rgb(240, 240, 243);
  /* box-shadow: -3px 0px 0 rgba(102, 110, 117, 0.493); */
}

.programCard .imgWrapper {
  max-height: 95px;
  max-width: 95px;
}

.imgWrapper img {
  height: 100%;
}

.infoText {
  flex: 1;
  padding: 0rem .7rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.description {
  font-size: .9rem;
  font-weight: 300;
  margin-bottom: .3rem;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .1rem;
}

.titleRow i {
  font-size: 1.4rem;
  margin-right: .3rem;
  margin-left: .5rem;
  position: relative;
  top: 6px;
}

span.broadcastInfo {
  font-style: italic;
  opacity: .73;
  display: block;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.4;
}