.programCard {
  display: flex;
  padding: .5rem;
  cursor: pointer;
  background-color: rgb(247, 245, 242);
}

.programCard .imgWrapper {
  max-height: 95px;
  max-width: 95px;
}

.imgWrapper img {
  height: 100%;
}

.infoText {
  flex: 1;
  align-self: center;
  padding: .5rem .7rem;
}

.title {
  font-size: 1rem;
  font-weight: 400;
}

.description {
  font-size: .9rem;
  font-weight: 300;
  margin-top: .2rem;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .3rem;
}

.titleRow i {
  font-size: 1.3rem;
  margin-right: .5rem;
  margin-left: .5rem;
}